<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF8EUsU8MfvgeGJMW5lxJtN3RTKZ_lP-AWz2epXJEFIpHde68u)
        }
        .quantity{
            width: 70px;
           
        }
        .mylab {
            padding: 0;
            width: auto;
            font-weight:bold;
            font-size:24px;
        }
        .myelem
        {
            margin: 5px 0 5px 0;
            display: inline-block;
        }
        .mydiv{
            padding:0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/Home/Index">Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @*@Html.ActionLink("Products", "Index", "Products", null, new { @class = "nav-link" })*@
                        <a href="/Products" class = "nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        @*@Html.ActionLink("Cart", "Index", "Cart", "", new { @class = "nav-link" })*@
                        <a href="/Cart" class = "nav-link">Cart</a>
                    </li>
                    <li class="nav-item">
                       @* @Html.ActionLink("User", "Index", "User", "", new { @class = "nav-link" })*@
                        <a href="/User" class = "nav-link">Users</a>

                    </li>
                    <li class="nav-item">
                       @* @Html.ActionLink("RoleAdmin", "Index", "", "RoleAdmin", new { @class = "nav-link" })*@
                        <a href="/RoleAdmin" class = "nav-link">RoleAdmin</a>

                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!User.Identity.Name.IsEmpty())
                            {<span>@User.Identity.Name</span>}
                        else
                        {
                            <span>Autorize</span>
                        }
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            @if (User.Identity.Name.IsEmpty())
                            {<a class="dropdown-item" href="/Account/Login?ReturnUrl=%2f">Log in</a>;
                                <a class="dropdown-item" href="/Admin/Create">Registration</a>}
                            <a class="dropdown-item" href="/Account/Logout">Log Out</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                    <button href="/Products" class="btn btn-outline-info my-2 my-sm-0" value="Filter" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Supa Dupa Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
