@model  OnlineStore.Models.ProductViewModel

@{
    ViewBag.Title = "_ProductsList";
}

    <div class="well ">
        <h3>
            <img src="@Model.Logo" width="200" height="200" />
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString() @Model.Currency</span>
        </h3>
        <span class="lead">@Model.Description</span>
        <div class="col-md-10 mydiv">
            <form action="/Cart/AddToCart" method="get">
                @Html.LabelFor(model => Model.Qty)
                <input type="text" name="Qty" class="form-control quantity myelem" value="1" width="40" />

                <button name="Id" class="btn btn-success " style="margin-left:4px" value="@Model.Id">To Cart</button>
            </form>
            
            <a class="btn btn-info " style="margin-left:30px" href="/Products/Details/@Model.Id">Details</a>
            <a class="btn btn-danger " href="/Products/Delete/@Model.Id">Delete</a>
        </div>
    </div>
