@model  OnlineStore.Models.ProductViewModel

@{
    ViewBag.Title = "_ProductsList";
}

    <div class="well ">
        <h3>
            <img src="@Model.Logo" width="200" height="200" />
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString() @Model.Currency</span>
        </h3>
        <span class="lead">@Model.Description</span>
        <div class="col-md-10 mydiv">
            @Html.Label("Qty->", htmlAttributes: new { @class = "control-label col-md-2  myelem mylab" })
            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control quantity myelem", Value = "1" } })
            <a href="/Cart/AppData?Id=@Model.Id&Qty=@Model.Qty" value="To Cart" class="btn btn-success" />
            <a class="btn btn-info " href="/Products/Details/@Model.Id">Details</a>
            <a class="btn btn-danger " href="/Products/Delete/@Model.Id">Delete</a>
        </div>
    </div>

