@model OnlineStore.Models.ProductsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm("Index", "Products", new { searchQuery = Model.SearchQuery }, FormMethod.Get))
{
    <div>
        @Html.LabelFor(x => x.SearchQuery)
        @Html.TextBoxFor(x => x.SearchQuery, htmlAttributes: new { placeholder = "Search..." })

        <input type="submit" value="Search" />
    </div>
}*@
@Html.ActionLink("Add Product", "Create")
<table class="table">
    <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    @foreach (var item in ViewBag.Products)
    {
        <tr>
            <td>
                <img src="@item.Logo" width="100" />
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price @item.Currency
            </td>
            <td>
                <input name='Quantity' value='1'  size="2">
                </input>                
            </td>
            <td>
                <button name='add' type='submit' value='@item.Id'>
                    Add to Cart
                </button>
            </td>
        </tr>
    }

</table>
