@model OnlineStore.Models.ProductsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<div>
    <a href="/Products/Create" class="btn btn-primary">Add Product</a>
    <a href="/Products/AddManufacture" class="btn btn-primary">Add Manufacture</a>
    <a href="/Products/AddCategory" class="btn btn-primary">Add Category</a>
</div>
@foreach (var item in ViewBag.Products)
{
<div class="well ">
    <h3>
        <img src="@item.Logo" width="200" height="200" />
            <strong>@item.Name</strong>
            <span class="pull-right label label-primary">@item.Price.ToString() @item.Currency</span>
    </h3>
    <span class="lead">@item.Description</span>
    <a class="btn btn-success" href="/Cart/AddToCart?ProductId=@item.Id">ToCart</a>
    <a class="btn btn-info" href="/Products/Details/@item.Id">Details</a>
    <a class="btn btn-danger" href="/Products/Delete/@item.Id">Delete</a>
</div>
}
