@model IEnumerable<OnlineStore.Models.ItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Number")
        </th>
        <th>
            @Html.DisplayName("UserName")
        </th>
        <th>
            @Html.DisplayName("Product")
        </th>
        <th>
            @Html.DisplayName("Product Price")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("AllPrice")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Number)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Order.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
            @Html.DisplayFor(modelItem => item.Product.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllPrice)
            @Html.DisplayFor(modelItem => item.Product.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Buy", "Buy", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
